
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #106eea;
  text-decoration: none;
}

a:hover {
  color: #3b8af2;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #106eea;
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
 


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50px;
  background: #106eea;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #3284f1;
  color: #fff;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#top-header {
  background: #106eea;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  color: #fff;
}

#top-header.top-header-scrolled {
  top: -40px;
}

#top-header .contact-info a {
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}

#top-header .contact-info a:hover {
  text-decoration: underline;
}

#top-header .contact-info i {
  padding-right: 4px;
  margin-left: 15px;
}

#top-header .contact-info i:first-child {
  margin-left: 0;
}

#top-header .social-links a {
  color: rgba(255, 255, 255, 0.6);
  padding-left: 15px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}

#top-header .social-links a:hover {
  color: #fff;
}
a:hover
{
    color:white !important;    
 /*   background-color: #409871 !important;     */
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#main-header {
  /* background: #fff; 
  background-image: linear-gradient(to left, #0d47a1, #0060ac, #006f93, #007965, #007e33);
  */
  background-image:  linear-gradient(to right, #164e52, #b3b346);
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  top: 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#main-header.header-scrolled {
  top: 0;
  padding: 5px;
}

#main-header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
}
#main-header .brand-text{
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  line-height: 25px;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
}
#main-header .logo a {
  color: #222222;
}

#main-header .logo a span {
  color: #106eea;
}

/* #main-header .logo img {
  max-height: 40px;
} */

@media (max-width: 992px) {
  #main-header {
    padding: 10px 0;
    top: 0;
  }
  #main-header .logo {
    font-size: 28px;
  }
  #main-header .brand-logo{
    width: 30px !important;
  }
  #main-header .brand-text{
    font-size: 0.782rem;
    margin: 0;
    padding: 0;
    line-height: 15px;
    letter-spacing: 0;
    font-weight: normal;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #ffffff;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 600;
  padding: 0 3px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #ffffff;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: #ffffff;
  text-decoration: none;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 26px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #062b5b;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #106eea;
  background-color: #409871;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;   
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #ffffff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #106eea !important;/*#222222 */
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #106eea;
  text-decoration: none;
  
}


.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;    color: black;
}

.mobile-nav .drop-down ul {
  display: none;
   overflow: hidden; 
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(9, 9, 9, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 95vh;
  /* background: url("https://apddcf.ap.gov.in/cdn/img/hero-bg.jpg") top left; */
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  position: relative;
  padding-top: 132px;
}

@media (max-width: 992px) {
  #hero .container {
    padding-top: 58px;
  }
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #222222;
  font-family: "Poppins", sans-serif;
}

#hero h1 span {
  color: #106eea;
}

#hero h2 {
  color: #000000;
  margin: 5px 0 15px 0;
  font-size: 24px;
  font-weight: 400;
}
#hero p {
  color: #000000;
  font-weight: 400;
}

#hero .btn-get-started {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #106eea;
}

#hero .btn-get-started:hover {
  background: #247cf0;
}

#hero .btn-watch-video {
  font-size: 16px;
  display: inline-block;
  padding: 10px 25px 8px 40px;
  transition: 0.5s;
  margin-left: 25px;
  color: #222222;
  position: relative;
  font-weight: 600;
}

#hero .btn-watch-video i {
  color: #106eea;
  font-size: 32px;
  position: absolute;
  left: 0;
  top: 7px;
  transition: 0.3s;
}

#hero .btn-watch-video:hover {
  color: #106eea;
}

#hero .btn-watch-video:hover i {
  color: #3b8af2;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 40vh;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .btn-get-started, #hero .btn-watch-video {
    font-size: 13px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f9fe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

/* .section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: #106eea;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
} */

.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  color: #106eea;
  display: inline-block;
  text-transform: uppercase;
}
.section-title h2::after{
  content: "";
  width: 50%;
  height: 3px;
  background: #106eea;
  display: block;
  margin: 0 auto;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}

.section-title h3 span {
  color: #106eea;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #f1f6fe;
  min-height: 40px;
  margin-top: 134px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 58px;
  }
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Featured Services
--------------------------------------------------------------*/
.featured-services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.featured-services .icon-box::before {
  content: '';
  position: absolute;
  background: #cbe0fb;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.featured-services .icon-box:hover::before {
  background: #106eea;
  top: 0;
  border-radius: 0px;
}

.featured-services .icon {
  margin-bottom: 15px;
}

.featured-services .icon i {
  font-size: 48px;
  line-height: 1;
  color: #106eea;
  transition: all 0.3s ease-in-out;
}

.featured-services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.featured-services .title a {
  color: #111;
}

.featured-services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.featured-services .icon-box:hover .title a, .featured-services .icon-box:hover .description {
  color: #fff;
}

.featured-services .icon-box:hover .icon i {
  color: #fff;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 35px;
}

.about .content ul li:first-child {
  margin-top: 35px;
}

.about .content ul i {
  background: #fff;
  box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
  font-size: 24px;
  padding: 20px;
  margin-right: 15px;
  color: #106eea;
  border-radius: 50px;
}

.about .content ul h5 {
  font-size: 18px;
  color: #555555;
}

.about .content ul p {
  font-size: 15px;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.slider{
  width: 100%;
}
.slider img{
  max-width: 100%;
 }

.carousel{
  width: 100%;
  top: 20px;
}
 /* .carousel-item {
  height: 80vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
} */

.carousel-item  img{
  width: 100% !important;
  height: 90vh;
}

.carousel-caption {
  position: absolute;
  right: 3%;
  bottom: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #000;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.712);
  width: 30%;
  padding: 10px 25px;
  margin: 0 0 0 auto;
}

.carousel-indicators {
  position: absolute;
  right: 3%;
  bottom: -20px;
  left: inherit;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  list-style: none;
}

@media screen and (max-width: 991px){
  .carousel {
    width: 100%;
    top: 25px;
  }
  /* .carousel-item {
    height: 80vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-position: center;
  } */
  .carousel-item  img{
    height: 30vh !important;
  }
  section {
    padding: 15px 0;
  }
}

.scroll-div{
  font-family: "Poppins", sans-serif;
}

.counts .card{
  background-color: #003f69;
}
.counts .card .card-body{
  padding: 10px;
}
.count-box{
  text-align: center;
  padding: 15px 5px;
  color: #fff;
}
.count-box .fa{
  margin-bottom: 15px;
  font-size: 1.4rem;
}
.count-box h4{
  font-size: 2.3rem;
  font-weight: 300;
}
.count-box p{
  font-size: 1.2rem;
  margin-bottom: 0;
}


.count-box {
  position: relative;
  /* vertical-align: middle; */
  /* color: #0b7; */
  /* display: inline-block; */
  text-align: center;
  transition: 0.5s;
  /* padding: 0 20px; */
  cursor: pointer;
  border: 2px solid #0b7;
  -webkit-transition: 0.5s;
}

.count-box:hover {
  border: 1px solid rgba(0,160,80,0);
  color: #FFF;
}

.count-box::before, .count-box::after {
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}

.ani::before {
  border-bottom: 2px solid #FFF;
  border-left: 2px solid #FFF;
  -webkit-transform-origin: 0 100%;
}

.ani::after {
  border-top: 2px solid #FFF;
  border-right: 2px solid #FFF;
  -webkit-transform-origin: 100% 0%;
}


.count-box:hover::after, .count-box:hover::before {
  -webkit-transform: scale(1);
}
/*
background-image: linear-gradient(360deg,#0d47a1,#0060ac,#006f93,#007965,#007e33);

*/
.footer {   
  background-image: linear-gradient(to right, #164e52, #b3b346);
  color: white;
  position: relative;
}
.footer .links ul {
  list-style-type: none;
}
.footer .links li a {
  color: white;
  transition: color 0.2s;
}
.footer .links li a:hover {
  text-decoration: none;
  color: #4180CB;
}
.footer .about-company i {
  font-size: 25px;
}
.footer .about-company a {
  color: white;
  transition: color 0.2s;
}
.footer .about-company a:hover {
  color: #4180CB;
}
.footer .about-company img {
  filter: drop-shadow(0 12px 25px rgba(255,255,255,1));
}
.footer .location i {
  font-size: 18px;
}
.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 991px){
  .footer .about-company h5{
    font-size: 1rem;
  }
  .footer h4{
    font-size: 1rem;
  }
  .footer .about-company p{
    font-size: 0.825rem;
  }
  .footer .links li a {
    font-size: 0.825rem;
  }
  .footer .links ul {
    margin-bottom: 20px !important;
  }
  .footer .copyright{
    text-align: center !important;
  }
  .featured-services .description {
    font-size: 0.8rem;
    line-height: 20px;
    margin-bottom: 0;
}
}

.center .slick-center .icon-box {
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  color: #fff;
  opacity: 1;
  transform: scale(1.08);
  background-color: #106eea;
}

.center .icon-box {
  background-color: #d9e9ff;
}

.center .icon-box {
  opacity: 0.8;
  transition: all 300ms ease;
  transform: scale(0.825);
}
.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: black;
}
.featured-services .center .slick-center .icon-box .title a {
  color: #00ffd0;
}
.featured-services .center .slick-center .icon i {
  color: #ffddb2;
}
.slick-initialized .slick-slide {
  display: block;
  margin-top: 12px;
}

.featured-services .center .large-icon{
  position: absolute;
  right: 10px;
  top: 5px;
}
.featured-services .center .large-icon i{
  font-size: 6rem;
  opacity: 0.1;
}

@media screen and (max-width: 991px){
  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: 0;
    z-index: 1;
  }
}


.animal-bg{
  position: absolute;
  width: 100%;
  bottom: 0;
  opacity: .2;
}

.gallery {
  column-width: 350px;
  /* column-gap: 5px; */
  padding: 5px;
}

.gallery img {
  width: 100%;
  cursor: pointer;
  /* border: 1px solid #000; */
  padding: 10px;
  margin: 5px;
  background: #fff;
  /* box-shadow: 0 0px 30px 0px rgba(68, 88, 144, 0.12); */
}

.gallery-lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  background: #7f8c8d;
  perspective: 1000;
  z-index: 9999;
}

.gallery-lightbox .filter {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(20px);
  opacity: 0.5;
  background-position: center;
  background-size: cover;
}

.gallery-lightbox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0deg);
  max-height: 95vh;
  max-width: calc(95vw - 100px);
  transition: 0.8s cubic-bezier(0.7, 0, 0.4, 1);
  transform-style: preserve-3d;
}


/*.gallery-lightbox:hover img{
  transform: translate(-50%, -50%) rotateY(180deg);
}*/

.gallery-lightbox [class^="arrow"] {
  height: 200px;
  width: 50px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.gallery-lightbox [class^="arrow"]:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 15px;
  height: 15px;
}

.gallery-lightbox .arrowr {
  right: 0;
}

.gallery-lightbox .arrowr:after {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.gallery-lightbox .arrowl {
  left: 0;
}

.gallery-lightbox .arrowl:after {
  border-left: 1px solid white;
  border-top: 1px solid white;
}

.gallery-lightbox .close {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.4);
  margin: 20px;
  cursor: pointer;
}

.gallery-lightbox .close:after,
.gallery-lightbox .close:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 50%;
  background: #ffffff;
}

.gallery-lightbox .close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.gallery-lightbox .close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.gallery-lightbox .title {
  font-size: 20px;
  color: #000;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 991px){
  .gallery-lightbox [class^="arrow"] {
    height: 45px;
    width: 30px;
  }
  .gallery-lightbox [class^="arrow"]:after {
    width: 8px;
    height: 8px;
  }
  .gallery-lightbox .close {
    width: 35px;
    height: 35px;
  }

  .gallery-lightbox img {
    max-height: 95vh;
    max-width: calc(100vw - 75px);
  }
}

.login-btn{
  border: 1px solid #106eea !important;
  color: #fff;
  border-radius: 50px !important;
  padding: 5px 15px !important;
}

/* Login Styles */
.login-container {
  width: 100%;
  position: absolute;
  top: 11vh;
  z-index: 9;
}
.login-nav{
  background-color: #1047b4;
}
.login-nav .nav-link{
  font-weight: 500;
  margin: 0 10px;
  color: #ffffff !important;
}
.login-nav .nav-link:hover{
  box-shadow: 0 2px 5px #ccc;
  background-color: #fff;
  color: #0060ac !important;
}
.login-slider{
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100vh - 50px);
  z-index: 1;
  overflow: hidden;
}
.login-body {
  position: relative;
  width: 100%;
  height: calc(100vh-50px);
  background-image: url(https://apddcf.ap.gov.in/cdn/img/login-bg-overlay.png);
  background-size: 100% 93vh;
  background-repeat: no-repeat;
  z-index: 2;
}
.login-form-card{
  padding: 15px 30px;
  border: 1px solid #fff;
  border-radius: 10px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 10px 80px #001aff7a;
}
.login-close{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 100%;
  text-align: right;
}
.login-close .fa{
  font-size: 1.2rem;
  color: #000000;
}
.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
  }


  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

.login-header{
  padding-bottom: 5px;
  border-bottom: 1px solid #adadad;
}
.login-btn{
  /* position: absolute;
  top: -15px; */
  border-radius: 50px;
  border: 1px solid #fff;
}
.login-main-title{
  font-weight: 400;
  font-size: 20px;
}
.logo-img{
  content: url(https://apddcf.ap.gov.in/cdn/img/ap-logo.png);
  width: 70px;
  height: 70px;
}

.slider-logo{
    -webkit-filter: drop-shadow(0px 12px 25px rgba(255, 255, 255, 1));
    filter: drop-shadow(0px 12px 25px rgba(255, 255, 255, 1));
    width: 20%;
}
.main-title{
    color: #fff;
    font-weight: 500;
    font-size: 1.35rem;
    line-height: 30px;
    margin-left: 10px;
    margin-bottom: 0;
  }
@media screen and (max-width: 768px) {
  .login-slider{
    display: none;
  }
  .login-body {
    background-image: linear-gradient(
      to left,
      #0d47a1,
      #0060ac,
      #006f93,
      #007965,
      #007e33
    );

  }
  .login-main-title{
    font-weight: 400;
    font-size: 16px;
  }
  .logo-img{
    width: 60px;
    height: 60px;
  }
  .login-nav{
    padding: 4px 2px;
  }
  .login-nav .brand-text{
    font-weight: normal !important;
    font-size: 0.7rem;
  }
  .login-nav .brand-logo{
    width: 35px !important;
  }
  .main-title{
    color: #fff;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 30px;
    margin-left: 10px;
    margin-bottom: 0;
  }
}

.input-group-text {
  padding: 0.625rem .75rem;
}



/* ============ only desktop view ============ */
@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end{ right:0; left: auto;  }
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}
/* ============ desktop view .end// ============ */




.gallery a{
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}
.time-stamp-dtl{
  position: absolute;
  top: 15px;
  right: 4px;
  background: #00000094;
  padding: 5px;
  color: #fff;
}
.time-stamp-dtl h6{
  font-size: 12px;
  margin-bottom: 0;
  line-height: 20px;
}


