<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <httpRuntime enableVersionHeader="false" enableHeaderChecking="true" />
  </system.web>
    <system.webServer>

        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>

		<security>
			<requestFiltering removeServerHeader="true" />
		</security>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />

                 <!-- <add name="Access-Control-Allow-Origin" value="*" />
 <remove name="Access-Control-Allow-Origin" /> -->
 
            </customHeaders>
        </httpProtocol>
    <rewrite>
      <rules>
        <rule name="host header" stopProcessing="true">
          <match url="(.)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^([a-zA-Z0-9-_]+.){0,2}ap.gov.in$" negate="true" />
          </conditions>
          <action type="Redirect" url="https://apddcf.ap.gov.in/jpv/#/shared/unAuthorized" />
        </rule>
      </rules>
    </rewrite>
    </system.webServer>
</configuration>
